{% extends 'base.html.twig' %}

{% block title %}Edit Center{% endblock %}

{% block body %}
    <h1>Edit Center</h1>

    {{ include('center/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('center_index') }}">back to list</a>

    {{ include('center/_delete_form.html.twig') }}
{% endblock %}
